@import "variables";
body
{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: white;
}
.flsContainer
{
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	background-color: black;
  	color: white;
  	font-family: $font-title;
	.flsTutoContainer
	{
		padding: 20px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		font-family: $font-main;
		.flsTutoTitle
		{
		}
	}
  	.flsUiContainer
  	{
  		margin-top: 50px;
  		.flsScoreContainer
  		{
  		}
  		.flsDateContainer
  		{
  			.flsDateDay, .flsDateMonth
  			{
  				display: inline-block;
  			}
  			.flsDateDay
  			{
  				margin-right: 8px;
  				min-width: 30px;
  				text-align: right;
  			}
  		}
  	}
  	.flsCanvasContainer
  	{
  		position: fixed;
  		z-index: -1;
  	}
  	.flsFruitLegumeContainer
  	{
  		border-left: 3px solid red;
  		border-right: 3px solid green;
  		position: absolute;
  		width: 100%;
  		height: 100%;
  		.flsFruitLegumeImg, .flsAnswerImg
  		{
  			position: absolute;
  			top: 50%;
  			left: 50%;
  			max-width: 512px;
  			width: 100%;
  			height: auto;
  			transform: translate(-50%, -50%);
  			transition: all .5s;
  			pointer-events: none;
  		}
  		.flsFruitLegumeImgAnswerTrue
  		{
  			left: calc(100% + 256px);
  		}
  		.flsFruitLegumeImgAnswerFalse
  		{
  			left: -256px;
  		}
  		.flsAnswerImg
  		{
  			z-index: 1;
  		}
  	}
  	.flsScoreFinalContainer
  	{
  		margin-top: 50px;
		.flsScoreFinalText, .flsScoreFinal
		{
			font-size: 1.5rem;
		}
  	}
  	.flsFinalAnwsersBoardContainer
  	{
  		width: 100%;
  		max-width: 1280px;
  		margin-top: 50px;
  		.flsFinalAnwserContainer, .boardContainer
  		{
  			width: 100%;
  			display: flex;
  			justify-content: space-around;
  			span
  			{
  				border: 1px solid white;
  				display: inline-block;
  				flex: 1;
  				height: 128px;
  			}
  			.flsFinalAnwserImg
  			{
  				margin: 0 20px;
  				width: 128px;
	  			height: auto;
  			}
  			.flsCellColor
  			{
  				background-color: rgba(225, 225, 255, .2);
  			}
  		}
  		.flsFinalAnwserContainer
  		{
  			.flsMonthToEat
  			{
  				background-color: rgba(255, 100, 100, .5);
  			}
  			span
  			{
  				display: flex;
  				justify-content: center;
  				align-items: center;
	  			.flsMonthChoosed
	  			{
	  				border-radius: 50%;
	  				width: 50%;
	  				height: 50%;
	  				background-color: rgba(125, 125, 250, .8);
	  			}
	  		}
  		}
  		.boardContainer
  		{
  			span
  			{
  				display: flex;
  				justify-content: center;
  				align-items: center;
  			}
  			.flsWidthImgDummy
  			{
  				flex: initial;
  				border: none;
  				margin: 0 20px;
  				width: 128px;
  				height: 128px;
  			}
  		}
  	}
}