@import "variables";
body
{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: white;
}
.flsContainer
{
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: black;
	.flsTutoContainer
	{
		padding: 20px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		font-family: $font-main;
		color: white;
		.flsTutoTitle
		{
  			font-family: $font-title;
		}
	}
  	.flsUiContainer
  	{
  		 color: white;
  		.flsScoreContainer
  		{
  			font-family: $font-title;
  		}
  	}
}