@import "variables";
body
{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: white;
}
.flsContainer
{
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: black;
	.flsTutoContainer
	{
		padding: 20px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		font-family: $font-main;
		color: white;
		.flsTutoTitle
		{
  			font-family: $font-title;
		}
	}
  	.flsUiContainer
  	{
  		position: absolute;
  		top: 20px;
  		color: white;
  		.flsScoreContainer
  		{
  			font-family: $font-title;
  		}
  		.flsDateContainer
  		{
  			font-family: $font-title;
  			.flsDateDay, .flsDateMonth
  			{
  				display: inline-block;
  			}
  			.flsDateDay
  			{
  				margin-right: 8px;
  				min-width: 30px;
  				text-align: right;
  			}
  		}
  	}
  	.flsFruitLegumeContainer
  	{
  		position: absolute;
  		width: 100%;
  		height: 100%;
  		.flsFruitLegumeImg, .answerImg
  		{
  			position: absolute;
  			top: 50%;
  			left: 50%;
  			max-width: 512px;
  			width: 100%;
  			height: auto;
  			transform: translate(-50%, -50%);
  			transition: all .5s;
  			pointer-events: none;
  		}
  		.flsFruitLegumeImgAnswerTrue
  		{
  			left: calc(100% + 256px);
  		}
  		.flsFruitLegumeImgAnswerFalse
  		{
  			left: -256px;
  		}
  		.answerImg
  		{
  			z-index: 1;
  		}
  	}
}